# Junior ML contest

In [1]:
import numpy as np
import pandas as pd

# import seaborn as sns
# import matplotlib.pyplot as plt

from sklearn.tree import  DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

import optuna

comp_students = pd.read_csv("comp_students.csv")
comp_portrait = pd.read_csv("comp_portrait.csv")
comp_marks = pd.read_csv("comp_marks.csv")
comp_disc = pd.read_csv("comp_disc.csv")
train = pd.read_csv("train (1).csv")
comp_teachers = pd.read_csv("comp_teachers.csv")
test = pd.read_csv("test (1).csv")
sample_submission = pd.read_csv("sample_submission (1).csv")

## EDA

In [2]:
# Description of the completion of the student's studies
comp_students

,ISU,KURS,DATE_START,DATE_END,PRIZNAK,MAIN_PLAN
0,4111128904589594590,2,2017-09-01,2018-08-31 00:00:00,обучен,1888061104212561891
1,4111128904589594590,3,2018-09-01,2018-11-02 00:00:00,обучен,1888061104212561891
2,4111128904589594590,3,2018-11-03,2019-08-31 00:00:00,обучен,1888061104212561891
3,4111128904589594590,4,2019-09-01,2020-07-06 00:00:00,обучен,1888061104212561891
4,5943608672516320930,2,2017-09-01,2018-08-31 00:00:00,обучен,2318124975100570268
...,...,...,...,...,...,...
20581,1861790555290075142,1,2021-09-01,2021-09-02 00:00:00,NaN,12557006847748747601
20582,2797163043647546280,1,2021-09-01,2021-09-01 00:00:00,NaN,5468703391701361437
20583,7969824539084569201,1,2021-09-01,2021-09-01 00:00:00,NaN,4016937036336755244
20584,2193978719903996595,1,2021-09-01,2021-09-01 00:00:00,NaN,10323692300941446127
20585,12273580522943998560,1,2021-09-01,2021-09-01 00:00:00,NaN,4016937036336755244

In [3]:
# Description of student's exams results 
comp_portrait

,ISU,GENDER,CITIZENSHIP,EXAM_TYPE,EXAM_SUBJECT_1,EXAM_SUBJECT_2,EXAM_SUBJECT_3,ADMITTED_EXAM_1,ADMITTED_EXAM_2,ADMITTED_EXAM_3,ADMITTED_SUBJECT_PRIZE_LEVEL,REGION_ID
0,8746993777733478780,Ж,15601729049989747827,ЕГЭ,70786669040476600,5533732657842394915,8388269026169219461,88.0,91.0,81.0,ЕГЭ,4877310761925081124
1,18279003839105282485,М,15601729049989747827,ВИ,70786669040476600,5533732657842394915,8388269026169219461,84.0,89.0,96.0,ЕГЭ,4877310761925081124
2,17601399077733331421,М,15601729049989747827,ВИ,70786669040476600,5533732657842394915,8388269026169219461,66.0,78.0,93.0,ЕГЭ,4877310761925081124
3,4111128904589594590,М,15601729049989747827,ВИ,70786669040476600,5533732657842394915,8388269026169219461,100.0,89.0,80.0,ЕГЭ,4877310761925081124
4,5943608672516320930,М,15601729049989747827,ВИ,70786669040476600,5533732657842394915,8388269026169219461,84.0,86.0,91.0,ЕГЭ,4877310761925081124
...,...,...,...,...,...,...,...,...,...,...,...,...
8578,10617950247642298995,М,15601729049989747827,ОЛИМПИАДА,70786669040476600,8388269026169219461,5533732657842394915,NaN,NaN,NaN,1.0,1360429390938723525
8579,17588742642663092027,М,15601729049989747827,ЕГЭ,70786669040476600,5533732657842394915,8388269026169219461,78.0,83.0,85.0,ЕГЭ,805206811561050868
8580,6263076880571321209,М,15601729049989747827,ВИ,5533732657842394915,70786669040476600,8388269026169219461,95.0,100.0,96.0,ЕГЭ,4877310761925081124
8581,2678733955613127063,Ж,15601729049989747827,ЕГЭ,10540932117542805584,70786669040476600,8388269026169219461,80.0,82.0,78.0,ЕГЭ,4877310761925081124
8582,3264412230846229387,М,15601729049989747827,ОЛИМПИАДА,70786669040476600,5533732657842394915,8388269026169219461,NaN,NaN,NaN,1.0,17119224547502736839

In [4]:
# Description of students marks on diffrent discipline
comp_marks

,ISU,ST_YEAR,SEMESTER,TYPE_NAME,MARK,MAIN_PLAN,DISC_ID,PRED_ID
0,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,10502311854018326223,5087927234000983963
1,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,1601392918367593206,5087927234000983963
2,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,9559803959325174929,5087927234000983963
3,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,8955667882044263414,5087927234000983963
4,17623928044460629977,2020,1,Экзамен,3,4664712865904477750,17741967398854095262,5087927234000983963
...,...,...,...,...,...,...,...,...
182790,4061096613922316032,2020,3,Экзамен,5,2516887713846954209,4258608271424308357,5087927234000983963
182791,4061096613922316032,2020,4,Зачет,зачет,2516887713846954209,16952703406926101025,5087927234000983963
182792,4061096613922316032,2020,3,Зачет,зачет,2516887713846954209,5702509582319458883,5087927234000983963
182793,695318259917739302,2019,1,Зачет,зачет,2516887713846954209,1601392918367593206,5087927234000983963
182794,11497011754958610988,2020,3,Зачет,зачет,15970149812698605927,15855310178528035667,18356833616442140842

In [5]:
comp_marks1 = comp_marks.copy()
comp_marks1["PRED_ID"] = comp_marks1["PRED_ID"].astype("category")
comp_marks1

,ISU,ST_YEAR,SEMESTER,TYPE_NAME,MARK,MAIN_PLAN,DISC_ID,PRED_ID
0,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,10502311854018326223,5087927234000983963
1,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,1601392918367593206,5087927234000983963
2,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,9559803959325174929,5087927234000983963
3,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,8955667882044263414,5087927234000983963
4,17623928044460629977,2020,1,Экзамен,3,4664712865904477750,17741967398854095262,5087927234000983963
...,...,...,...,...,...,...,...,...
182790,4061096613922316032,2020,3,Экзамен,5,2516887713846954209,4258608271424308357,5087927234000983963
182791,4061096613922316032,2020,4,Зачет,зачет,2516887713846954209,16952703406926101025,5087927234000983963
182792,4061096613922316032,2020,3,Зачет,зачет,2516887713846954209,5702509582319458883,5087927234000983963
182793,695318259917739302,2019,1,Зачет,зачет,2516887713846954209,1601392918367593206,5087927234000983963
182794,11497011754958610988,2020,3,Зачет,зачет,15970149812698605927,15855310178528035667,18356833616442140842

In [6]:
# Description of discipline
comp_disc

,PLAN_ID,DISC_ID,СHOICE,SEMESTER,DISC_NAME,DISC_DEP,KEYWORD_NAMES
0,13019929768422386211,12540082885330665258,1.0,6.0,Методы криптографии,8139328495281102994,"криптография, криптография, криптография, клас..."
1,13019929768422386211,8471500331110227546,1.0,6.0,Анализ социальных сетей,8139328495281102994,"технологии работы информацией, алгоритмы обраб..."
2,13019929768422386211,11786710099399385350,1.0,6.0,Эффективное участие в научных и практических к...,1687590892619214362,NaN
3,13019929768422386211,18074319180892552096,1.0,6.0,Управление карьерой,1687590892619214362,NaN
4,13019929768422386211,17709308778630417516,1.0,6.0,Обработка изображений,8139328495281102994,"классическое машинное обучение, генерация изоб..."
...,...,...,...,...,...,...,...
22512,15424044485875347082,13199182807431031308,1.0,3.0,Бизнес-модели основных секторов инновационной ...,13705271043836613455,"сектор life sciences, выбор бизнесмодели, форм..."
22513,15424044485875347082,4888736193471485129,1.0,3.0,Второй иностранный язык (немецкий). Уровень А2,4541588325103734182,"выражение мнения, выражение мнения, модели нор..."
22514,15424044485875347082,4888736193471485129,1.0,3.0,Второй иностранный язык (немецкий). Уровень А2,4541588325103734182,NaN
22515,15424044485875347082,9075687484357010791,0.0,3.0,Физическая культура (элективная дисциплина),9092018987667145739,"фитнес, единоборство, учебнотренировачная подг..."
22516,15424044485875347082,9075687484357010791,0.0,3.0,Физическая культура (элективная дисциплина),9092018987667145739,NaN

In [7]:
# Description of teachers
comp_teachers

,ISU,GENDER,DATE_BIRTH,ST_YEAR,SEMESTER,DISC_ID,MAIN_PLAN,TYPE_NAME,MARK
0,10629403761260861411,М,1975,2020/2021,4.0,13112935959748478559,10080731777079285074,Дифференцированный зачет,3.471698
1,10629403761260861411,М,1975,2018/2019,2.0,9080510863460073035,15820306466107805201,Дифференцированный зачет,4.243902
2,10629403761260861411,М,1975,2019/2020,4.0,5019820477479850617,3636112309748229871,Экзамен,4.652174
3,10629403761260861411,М,1975,2018/2019,2.0,2604062592206042930,3636112309748229871,Дифференцированный зачет,4.266667
4,10629403761260861411,М,1975,2018/2019,2.0,2604062592206042930,3636112309748229871,Курсовой проект,4.266667
...,...,...,...,...,...,...,...,...,...
5549,11372188095720335175,М,1986,2020/2021,NaN,7766831654069050069,2580376221820191753,NaN,NaN
5550,11372188095720335175,М,1986,2020/2021,NaN,7766831654069050069,7130526432801337743,NaN,NaN
5551,11372188095720335175,М,1986,2020/2021,3.0,7766831654069050069,3259025934245756351,Экзамен,3.884615
5552,11372188095720335175,М,1986,2020/2021,NaN,5066897240534486806,12572440150254943648,NaN,NaN
5553,11372188095720335175,М,1986,2020/2021,NaN,5066897240534486806,5362976524072356586,NaN,NaN

In [8]:
train

,ISU,ST_YEAR,SEMESTER,DISC_ID,TYPE_NAME,DEBT
0,17623928044460629977,2020,1,10502311854018326223,Зачет,0
1,17623928044460629977,2020,1,1601392918367593206,Зачет,0
2,17623928044460629977,2020,1,9559803959325174929,Зачет,0
3,17623928044460629977,2020,1,8955667882044263414,Зачет,0
4,17623928044460629977,2020,1,17741967398854095262,Экзамен,0
...,...,...,...,...,...,...
178894,695318259917739302,2019,1,1601392918367593206,Зачет,0
178895,11038830203489115866,2019,4,14502000618530751637,Зачет,0
178896,12167247650939870440,2020,5,15116680349425546846,Экзамен,0
178897,11497011754958610988,2020,3,15855310178528035667,Зачет,0
178898,12806491784692025885,2020,6,18074319180892552096,Зачет,0

In [9]:
test

                        ISU  ST_YEAR  SEMESTER               DISC_ID TYPE_NAME
0         22160896830459167     2021         3    552619236026332123   Экзамен
1         22160896830459167     2021         3   5702509582319458883     Зачет
2         22160896830459167     2021         3   7735626259430674628     Зачет
3         22160896830459167     2021         3   8955667882044263414     Зачет
4         22160896830459167     2021         3   9075687484357010791     Зачет
...                     ...      ...       ...                   ...       ...
30908  18441846113897984349     2021         5   9075687484357010791     Зачет
30909  18441846113897984349     2021         5  11240958499619480192     Зачет
30910  18441846113897984349     2021         5  11511957009955804990     Зачет
30911  18441846113897984349     2021         5  11807846188624377660   Экзамен
30912  18441846113897984349     2021         5  16952231586163840107     Зачет

[30913 rows x 5 columns]

In [10]:
sample_submission

                                                      ID  DEBT
0      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     1
1      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
2      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
3      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
4      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
...                                                  ...   ...
30908  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0
30909  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0
30910  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0
30911  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0
30912  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0

[30913 rows x 2 columns]

In [11]:
print(comp_marks["ISU"].isin(comp_portrait["ISU"]).all())
print()
print(test["ISU"].isin(train["ISU"]).all())
print(test["DISC_ID"].isin(train["DISC_ID"]).all())
print(test["ISU"].isin(comp_portrait["ISU"]).all())
print(test["ISU"].isin(comp_marks["ISU"]).all())

print()
print(test["DISC_ID"].isin(train["DISC_ID"]).all())
print(test["DISC_ID"].isin(comp_marks["DISC_ID"]).all())
print()
print(test["DISC_ID"].isin(comp_disc["DISC_ID"]).value_counts())
# print()
# print(test[~test["DISC_ID"].isin(comp_disc["DISC_ID"])])
# print(test["DISC_ID"].isin(pd.merge(comp_disc["DISC_ID"], comp_marks["DISC_ID"])).value_counts())

True

True
False
True
False

False
False

True     30909
False        4
Name: DISC_ID, dtype: int64

In [12]:
t1 = comp_portrait["EXAM_SUBJECT_1"].unique()
t2 = comp_portrait["EXAM_SUBJECT_2"].unique()
t3 = comp_portrait["EXAM_SUBJECT_3"].unique()
print(np.isin(t1, t2).all(), np.isin(t2, t3).all(), np.isin(t3, t1).all())
print(np.isin(t2, t1).all(), np.isin(t3, t2).all(), np.isin(t1, t3).all())
# EXAM_SUBJECT_3 is incomplete, but this is not a problem

True False True
True True False

In [13]:
def f(x):
    x[0] = 0
    x[1] = 1
    return x
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df.apply(f, axis=1)

   A  B
0  0  1
1  0  1
2  0  1

## Make data for model training

In [14]:
semester_of_disc = comp_disc[["DISC_ID", "SEMESTER"]]
semester_of_disc = semester_of_disc.groupby("DISC_ID").min()
semester_of_disc

                      SEMESTER
DISC_ID
5431184050471578           2.0
6947608674753041           3.0
10928733136090636          6.0
13187948132681189          2.0
18938951954663142          2.0
...                        ...
18423222245760976082       2.0
18423613269743954405       3.0
18431371490397109397       6.0
18437705586629069983       2.0
18446365376079976954       3.0

[4673 rows x 1 columns]

In [15]:
def erase_disc(row, piv_tab_cols):
    # TODO проверить правильно ли оно работает
    """
    Erase the mark for the same subject from the line with the subject
    :param row: row of students_table
    :param piv_tab_cols: name of columns pivot_table
    :return:
    """
    disc = row["DISC_ID"]
    if disc not in piv_tab_cols:
        return row
    row[disc] = 0
    return row

In [16]:
def erase_future_disc(row, piv_tab_cols, semesters):
    cur_sem = row["SEMESTER"]
    disc_to_erase = piv_tab_cols[semesters >= cur_sem]
    row[disc_to_erase] = 0
    return row

In [17]:
%%time
# students_table = pd.merge(comp_portrait, comp_marks, how="outer")
students_table = pd.merge(train, comp_portrait, how="inner", on="ISU")
students_table = pd.merge(students_table, comp_marks, how="left", on=["ISU", "DISC_ID", "SEMESTER", "ST_YEAR", "TYPE_NAME"])
# deal with nan
for col in ["ADMITTED_EXAM_1", "ADMITTED_EXAM_2", "ADMITTED_EXAM_3"]:
    students_table[col].fillna(students_table[col].mean(), inplace=True)
students_table[["MARK", "PRED_ID", "MAIN_PLAN"]] = students_table[["MARK", "PRED_ID", "MAIN_PLAN"]].fillna(0)
# print(students_table.info())
# adding information about other disciplines
count_disc = students_table.groupby(by="DISC_ID", ).count()["ISU"].sort_values(ascending=False)
dics_to_add_to_students_table = count_disc[count_disc > 300].index
students_table["MARK"].replace(["незач", "неявка"], "2", inplace=True)
students_table["MARK"].replace(["зачет", "осв"], "4", inplace=True)
students_table["MARK"] = students_table["MARK"].astype("int")
p_t = pd.pivot_table(students_table, values="MARK", index="ISU", columns="DISC_ID", aggfunc=np.mean)
p_t = p_t[dics_to_add_to_students_table]
p_t.fillna(0, inplace=True)
students_table = pd.merge(students_table, p_t, how="outer", on="ISU")

# Erase mark of DISC_ID
# students_table = students_table.apply(erase_disc, axis=1, args=[p_t.columns])

# Erase marks of future disciplines, regarding current DICS_ID
semesters_of_each_disc = semester_of_disc[semester_of_disc.index.isin(p_t.columns)]["SEMESTER"]
print(semesters_of_each_disc.shape)
students_table = students_table.apply(erase_future_disc, axis=1, args=[p_t.columns, semesters_of_each_disc])

# make category
categorical_columns = ["CITIZENSHIP", "GENDER", "EXAM_TYPE", "EXAM_SUBJECT_1", "EXAM_SUBJECT_2", "EXAM_SUBJECT_3",
                       "REGION_ID", "ST_YEAR", "SEMESTER", "TYPE_NAME", "ADMITTED_SUBJECT_PRIZE_LEVEL"]
for col in categorical_columns:
    students_table[col] = students_table[col].astype('category')
dummies = pd.get_dummies(students_table[categorical_columns], prefix=categorical_columns)
students_table.drop(columns=categorical_columns, inplace=True)
students_table = pd.concat([students_table, dummies], axis="columns")
# rename columns
students_table.columns = [str(x_i) for x_i in students_table.columns]
print("******")
students_table

(138,)
******
CPU times: total: 2min 43s
Wall time: 2min 46s

,ISU,DISC_ID,DEBT,ADMITTED_EXAM_1,ADMITTED_EXAM_2,ADMITTED_EXAM_3,MARK,MAIN_PLAN,PRED_ID,9028324525774925341,...,TYPE_NAME_Дифференцированный зачет,TYPE_NAME_Зачет,TYPE_NAME_Курсовой проект,TYPE_NAME_Экзамен,ADMITTED_SUBJECT_PRIZE_LEVEL_0.0,ADMITTED_SUBJECT_PRIZE_LEVEL_1.0,ADMITTED_SUBJECT_PRIZE_LEVEL_2.0,ADMITTED_SUBJECT_PRIZE_LEVEL_3.0,ADMITTED_SUBJECT_PRIZE_LEVEL_4.0,ADMITTED_SUBJECT_PRIZE_LEVEL_ЕГЭ
0,17623928044460629977,10502311854018326223,0,78.0,79.0,91.0,4,4.664713e+18,5.087927e+18,0.0,...,0,1,0,0,0,0,0,0,0,1
1,17623928044460629977,1601392918367593206,0,78.0,79.0,91.0,4,4.664713e+18,5.087927e+18,0.0,...,0,1,0,0,0,0,0,0,0,1
2,17623928044460629977,9559803959325174929,0,78.0,79.0,91.0,4,4.664713e+18,5.087927e+18,0.0,...,0,1,0,0,0,0,0,0,0,1
3,17623928044460629977,8955667882044263414,0,78.0,79.0,91.0,4,4.664713e+18,5.087927e+18,0.0,...,0,1,0,0,0,0,0,0,0,1
4,17623928044460629977,17741967398854095262,0,78.0,79.0,91.0,3,4.664713e+18,5.087927e+18,0.0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186439,4183409784835048954,11780410418462562766,0,70.0,64.0,91.0,0,0.000000e+00,0.000000e+00,0.0,...,0,1,0,0,0,0,0,0,0,1
186440,4183409784835048954,5390045268612005024,0,70.0,64.0,91.0,0,0.000000e+00,0.000000e+00,0.0,...,0,1,0,0,0,0,0,0,0,1
186441,4183409784835048954,13380346061330718296,0,70.0,64.0,91.0,0,0.000000e+00,0.000000e+00,0.0,...,0,1,0,0,0,0,0,0,0,1
186442,4183409784835048954,9075687484357010791,0,70.0,64.0,91.0,0,0.000000e+00,0.000000e+00,0.0,...,0,1,0,0,0,0,0,0,0,1
186443,4183409784835048954,9075687484357010791,0,70.0,64.0,91.0,0,0.000000e+00,0.000000e+00,0.0,...,0,1,0,0,0,0,0,0,0,1

In [18]:
p_t.shape

(5095, 138)

## Check completeness of data

In [19]:
%%time
errors = []
for idx, row_ in students_table.iterrows():
    disc = row_["DISC_ID"]
    if str(disc) in students_table.columns:
        if students_table[str(disc)] != 0:
           errors.append([idx, disc])
print(errors)

[]
CPU times: total: 12.2 s
Wall time: 12.3 s

In [20]:
print(test["ISU"].isin(train["ISU"]).value_counts().all())
print(test["ISU"].isin(students_table["ISU"]).value_counts().all())
print(students_table["ISU"].isin(train["ISU"]).value_counts().all())

True
True
True

## Making train/test data

In [21]:
data_x = students_table.drop(columns=["MAIN_PLAN", "PRED_ID", "ISU", "MARK"])
data_y = data_x["DEBT"]
data_x = data_x.drop(columns=["DEBT"])


indexes = np.arange(0, data_x.shape[0])
np.random.shuffle(indexes)
train_x = data_x.iloc[indexes, :]
train_y = data_y.iloc[indexes]
# TODO weight of selection for small years!
split_indexes = (train_x["ST_YEAR_2020"] == 1) | (train_x["ST_YEAR_2019"] == 1)
# split_indexes = (train_x["ST_YEAR_2018"] == 1) | (train_x["ST_YEAR_2019"] == 1)
# split_indexes = train_x["ST_YEAR_2020"] == 1
test_x = train_x[~split_indexes]
test_y = train_y[~split_indexes]
train_x = train_x[split_indexes]
train_y = train_y[split_indexes]
# percent = 0.15
# split_index = int(train_x.shape[0] * percent)
# test_x = train_x.iloc[:split_index, :]
# test_y = train_y.iloc[:split_index]
# train_x = train_x.iloc[split_index:, :]
# train_y = train_y.iloc[split_index:]
print(train_x.shape, train_y.shape)
print(test_x.shape, test_y.shape)

(154029, 282) (154029,)
(32415, 282) (32415,)

## Baseline on Decision Tree

In [22]:
baseline_decision_tree = DecisionTreeClassifier()
baseline_decision_tree.fit(train_x, train_y)

pred_y = baseline_decision_tree.predict(train_x)
train_metric = f1_score(train_y, pred_y)
print("train baseline metric", train_metric)

pred_y = baseline_decision_tree.predict(test_x)
test_metric = f1_score(test_y, pred_y)
print("test baseline metric", test_metric)
print(baseline_decision_tree.get_n_leaves(), baseline_decision_tree.get_depth())

train baseline metric 0.9868330923205724
test baseline metric 0.24760689215060624
5309 62

## Searching optimal hyperparameters

In [33]:
# optuna.logging.disable_default_handler()
optuna.logging.enable_default_handler()
# 1. Define an objective function to be maximized.
def objective(trial):
    # 2. Suggest values for the hyperparameters using a trial object.
    # TODO уменьшить разброс и кол-во параметров

    n_estimators = trial.suggest_int("n_estimators", 2, 100)
    max_depth = trial.suggest_int("max_depth", 10, 150)
    max_features = trial.suggest_int("max_features", 25, train_x.shape[1])
    trial_model = RandomForestClassifier(n_jobs=-1, n_estimators=n_estimators, max_depth=max_depth, max_features=max_features)
    trial_model = trial_model.fit(train_x, train_y)
    trial_pred_y = trial_model.predict(test_x)
    trial_test_metric = f1_score(test_y, trial_pred_y)
    return trial_test_metric

# 3. Create a study object and optimize the objective function.

study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=10)
print(study.best_value, study.best_params)

fig = optuna.visualization.plot_param_importances(study)
fig.show()

[I 2022-07-14 17:24:59,251] A new study created in memory with name: no-name-ebb27a19-06d4-4db1-b36b-48e3bba0d391
[I 2022-07-14 17:25:04,904] Trial 0 finished with value: 0.36776712815051477 and parameters: {'n_estimators': 8, 'max_depth': 44, 'max_features': 91}. Best is trial 0 with value: 0.36776712815051477.
[I 2022-07-14 17:27:06,293] Trial 1 finished with value: 0.3605051664753157 and parameters: {'n_estimators': 92, 'max_depth': 21, 'max_features': 253}. Best is trial 0 with value: 0.36776712815051477.
[I 2022-07-14 17:27:45,409] Trial 2 finished with value: 0.36711143166245946 and parameters: {'n_estimators': 58, 'max_depth': 97, 'max_features': 97}. Best is trial 0 with value: 0.36776712815051477.
[I 2022-07-14 17:27:52,011] Trial 3 finished with value: 0.32454036770583533 and parameters: {'n_estimators': 25, 'max_depth': 22, 'max_features': 36}. Best is trial 0 with value: 0.36776712815051477.
[I 2022-07-14 17:28:26,384] Trial 4 finished with value: 0.37820281486827856 and parameters: {'n_estimators': 83, 'max_depth': 55, 'max_features': 56}. Best is trial 4 with value: 0.37820281486827856.
[I 2022-07-14 17:28:32,768] Trial 5 finished with value: 0.28351083363936835 and parameters: {'n_estimators': 4, 'max_depth': 59, 'max_features': 185}. Best is trial 4 with value: 0.37820281486827856.
[I 2022-07-14 17:28:54,206] Trial 6 finished with value: 0.365606431317721 and parameters: {'n_estimators': 16, 'max_depth': 150, 'max_features': 201}. Best is trial 4 with value: 0.37820281486827856.
[I 2022-07-14 17:30:26,870] Trial 7 finished with value: 0.3814328960645813 and parameters: {'n_estimators': 55, 'max_depth': 71, 'max_features': 247}. Best is trial 7 with value: 0.3814328960645813.
[I 2022-07-14 17:30:42,400] Trial 8 finished with value: 0.3589569928885879 and parameters: {'n_estimators': 10, 'max_depth': 112, 'max_features': 200}. Best is trial 7 with value: 0.3814328960645813.
[I 2022-07-14 17:31:36,983] Trial 9 finished with value: 0.36576704545454547 and parameters: {'n_estimators': 31, 'max_depth': 34, 'max_features': 271}. Best is trial 7 with value: 0.3814328960645813.

0.3814328960645813 {'n_estimators': 55, 'max_depth': 71, 'max_features': 247}

## Train

In [36]:
# decision_tree = RandomForestClassifier(criterion=study.best_params["criterion"], min_impurity_decrease=study.best_params["min_impurity_decrease"],
#                                        min_samples_split=study.best_params["min_samples_split"])
# {'criterion': 'entropy', 'max_depth': 59, 'n_estimators': 47}  20
# {'criterion': 'entropy', 'max_depth': 90, 'n_estimators': 117}  19/20
# 'n_estimators': 55, 'max_depth': 71, 'max_features': 247
model = RandomForestClassifier(n_jobs=-1, criterion="entropy", n_estimators=study.best_params["n_estimators"],
                               max_depth=study.best_params["max_depth"],
                               max_features=study.best_params["max_features"])

model = model.fit(train_x, train_y)

pred_y = model.predict(train_x)
train_metric = f1_score(train_y, pred_y)
print("train_metric", train_metric)

pred_y = model.predict(test_x)
test_metric = f1_score(test_y, pred_y)
print("test_metric", test_metric)

train_metric 0.9858963722754356
test_metric 0.33946676680435595

## Making submission

In [25]:
test_table = test.drop(columns=["ST_YEAR", "SEMESTER", "TYPE_NAME"])
test_table = test_table.set_index("ISU")
t = students_table[students_table["ISU"].isin(test_table.index)]
t = t.drop(columns=["DISC_ID", "DEBT", "MARK", "MAIN_PLAN", "PRED_ID"])
t = t.drop_duplicates(subset="ISU")
t = t.set_index("ISU")
t = t.loc[test_table.index]
t = pd.concat([t, test_table], axis=1)
t = t.reset_index().drop(columns="ISU")
t = t.loc[:, train_x.columns]
t

,DISC_ID,ADMITTED_EXAM_1,ADMITTED_EXAM_2,ADMITTED_EXAM_3,9028324525774925341,7835846297793492094,14433121874407032269,1601392918367593206,9848012366215097300,8955667882044263414,...,TYPE_NAME_Дифференцированный зачет,TYPE_NAME_Зачет,TYPE_NAME_Курсовой проект,TYPE_NAME_Экзамен,ADMITTED_SUBJECT_PRIZE_LEVEL_0.0,ADMITTED_SUBJECT_PRIZE_LEVEL_1.0,ADMITTED_SUBJECT_PRIZE_LEVEL_2.0,ADMITTED_SUBJECT_PRIZE_LEVEL_3.0,ADMITTED_SUBJECT_PRIZE_LEVEL_4.0,ADMITTED_SUBJECT_PRIZE_LEVEL_ЕГЭ
0,552619236026332123,78.000000,83.000000,87.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1,5702509582319458883,78.000000,83.000000,87.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
2,7735626259430674628,78.000000,83.000000,87.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
3,8955667882044263414,78.000000,83.000000,87.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
4,9075687484357010791,78.000000,83.000000,87.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30908,9075687484357010791,80.381229,82.389157,86.808098,0.0,4.0,0.0,4.0,4.0,0.0,...,0,0,0,1,0,0,1,0,0,0
30909,11240958499619480192,80.381229,82.389157,86.808098,0.0,4.0,0.0,4.0,4.0,0.0,...,0,0,0,1,0,0,1,0,0,0
30910,11511957009955804990,80.381229,82.389157,86.808098,0.0,4.0,0.0,4.0,4.0,0.0,...,0,0,0,1,0,0,1,0,0,0
30911,11807846188624377660,80.381229,82.389157,86.808098,0.0,4.0,0.0,4.0,4.0,0.0,...,0,0,0,1,0,0,1,0,0,0
30912,16952231586163840107,80.381229,82.389157,86.808098,0.0,4.0,0.0,4.0,4.0,0.0,...,0,0,0,1,0,0,1,0,0,0

In [26]:
# pred_test = baseline_decision_tree.predict(t)
pred_test = model.predict(t)
sample_submission["DEBT"] = pred_test
sample_submission.to_csv("./my_submission.csv", index=False)

In [27]:
sample_submission

                                                      ID  DEBT
0      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
1      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
2      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
3      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
4      ISU:22160896830459167 | ST_YEAR:2021 | DISC_ID...     0
...                                                  ...   ...
30908  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0
30909  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0
30910  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0
30911  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0
30912  ISU:18441846113897984349 | ST_YEAR:2021 | DISC...     0

[30913 rows x 2 columns]

In [28]:
pred_test.sum()

512

In [29]:
# TODO check hyperparametres